# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw
.stitch/designs/DESIGN.md

# Environment
.env
.env.local
.env.development
.env.production
*.env

.env
.env.example

supabase/.temp
supabase/.temp/*
supabase/.env
supabase/.env.local
supabase/.env.development
supabase/.env.production

deployments
deployments/*

artifacts
artifacts/*

cache
cache/*

test
test/*

implementation plans phase2/


.stitch/*
.vscode/*
